<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <style>
        * {
            margin: 0;
            padding: 0;
            outline: none !important;
        }

        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            margin: 0;
            padding: 0;
            font-weight: 400;
            color: #3c3c3c;
            line-height: 16px;
        }

        p {
            font-size: 14px;
            line-height: 28px;
        }
    </style>

</head>

<body lang=EN-US link=blue vlink="#954F72">
<h2><strong>Schadenmeldung &ndash; Unfall</strong></h2>

<p>&nbsp;</p>

<p>YOURneeds Versicherungsmakler GmbH <br/> Nardinistra&szlig;e 8 <br/> 76764 Rheinzabern</p>

<p><strong> vom </strong> {{ dateTime }} <strong> Agentur </strong> {{ agencyNumber }}<br/><br/></p>

<p><strong>AN DIE</strong> {{ company['name'] }}<br/><br/></p>

<p><strong>Reicht f&uuml;r den Kunden</strong></p>

<p>
    <strong>Anrede/Name:</strong> {{ salutation }} {{ user.firstName }} {{ user.lastName }}<br/>
    <strong>Geb-Datum:</strong> {{ user.birthdate }} <br/>
    <strong>Adresse:</strong> {{ address['street'] }} {{ address['streetNumber'] }}
    , {{ address['postalCode'] }} {{ address['cityName'] }}<br/>
    <strong>MobilNr.:</strong> {{ requestData['damageContactNumber'] }} <br/>
    <strong>E-Mail:</strong> {{ user.email }} <br/>
    <br/>
    f&uuml;r welchen ein aktuelles <strong>Maklermandat vom {{ mandateDate }}</strong>
    vorliegt, folgende durch den Kunden eingegebene Schadenmeldung ein.
</p>

<p><strong> Versicherungsnummer:</strong> {**Nummer aus der Versicherungspolice**}</p>

<p><strong> Schadendatum:</strong> {{ requestData['dateOfDamage'] }}</p>
<p><strong> Schadenort:</strong> {{ requestData['damageLocation'] }}</p>

{% set isFreetimeTrue = ' ' %}
{% set isJobTrue = ' ' %}
{% if requestData['kindOfAccident'] == 'freetime' %}
    {% set isFreetimeTrue = 'x' %}
{% elseif requestData['kindOfAccident'] == 'job' %}
    {% set isJobTrue = 'x' %}
{% else %}
{% endif %}
<p><strong> Schadenart:</strong> ({{ isFreetimeTrue }}) Freizeitunfall / ({{ isJobTrue }}) Berufsunfall</p>

<p><strong> Gesch&auml;digter:</strong>
    {{ requestData['personOfCause'] }}<br>
    {{ requestData['personOfCauseBirthdate'] }} (Geburtsdatum)
    {{ requestData['personOfCauseStreet'] }}<br>
    {{ requestData['personOfCauseZip'] }}<br>
    {{ requestData['personOfCauseCity'] }}
</p>

{% set policeTrue = ' ' %}
{% set policeFalse = ' ' %}
{% if requestData['hasPoliceRegistration'] is empty %}
    {% set policeFalse = 'x' %}
{% else %}
    {% if requestData['hasPoliceRegistration'] == 'no' %}
        {% set policeFalse = 'x' %}
    {% elseif requestData['hasPoliceRegistration'] == 'yes' %}
        {% set policeTrue = 'x' %}
    {% endif %}
{% endif %}
<p><strong> Polizeilich aufgenommen? </strong> ({{ policeTrue }}) Ja /
    ({{ policeFalse }}) Nein
</p>
<p><strong> Aktenzeichen und Dienststelle? </strong> {{ requestData['policeRegistrationNumber'] }}</p>

{% set hasDoctorTrue = ' ' %}
{% set hasDoctorFalse = ' ' %}
{% if requestData['hasMedicalTreatmentByDoctor'] == 'no' %}
    {% set hasDoctorFalse = 'x' %}
{% elseif requestData['hasMedicalTreatmentByDoctor'] == 'yes' %}
    {% set hasDoctorTrue = 'x' %}
{% endif %}
<p><strong>Erfolgte ärtzl. Behandlung:</strong> ({{ hasDoctorTrue }}) Ja / ({{ hasDoctorFalse }}) Nein</p>

<p><strong>Wann genau </strong> {{ requestData['medicalTreatmentByDoctorDateTime'] }}</p>

<p><strong>Anschrift Arzt </strong> {{ requestData['medicalTreatmentByDoctorAddress'] }}</p>

{% set hasHospitalTrue = ' ' %}
{% set hasHospitalFalse = ' ' %}
{% if requestData['hasMedicalTreatmentByHospital'] == 'no' %}
    {% set hasHospitalFalse = 'x' %}
{% elseif requestData['hasMedicalTreatmentByHospital'] == 'yes' %}
    {% set hasHospitalTrue = 'x' %}
{% endif %}
<p><strong>Erfolgte stationäre Behandl.:</strong> ({{ hasHospitalTrue }}) Ja / ({{ hasHospitalFalse }}) Nein</p>

<p><strong>Aufnahme- / Entlassungstag </strong> {{ requestData['medicalTreatmentByHospitalDateFrom'] }}
    bis {{ requestData['medicalTreatmentByHospitalDateUntil'] }}</p>

<p><strong>Anschrift Klinik</strong> {{ requestData['medicalTreatmentByHospitalAddress'] }}</p>


{% set praeDisturbanceOfConsciousnessTrue = ' ' %}
{% set praeDisturbanceOfConsciousnessFalse = ' ' %}
{% if requestData['praeDisturbanceOfConsciousness'] == 'no' %}
    {% set praeDisturbanceOfConsciousnessFalse = 'x' %}
{% elseif requestData['praeDisturbanceOfConsciousness'] == 'yes' %}
    {% set praeDisturbanceOfConsciousnessTrue = 'x' %}
{% endif %}
<p><strong>Ist der Unfall durch eine vorher eingetretene Bewußtseinsstörung (Ohnmacht, Schwindelanfall oder dergleichen)
        entstanden?</strong> ({{ praeDisturbanceOfConsciousnessTrue }}) Ja / ({{ praeDisturbanceOfConsciousnessFalse }})
    Nein
</p>

{% set praeDrugsTrue = ' ' %}
{% set praeDrugsFalse = ' ' %}
{% if requestData['praeDrugs'] == 'no' %}
    {% set praeDrugsFalse = 'x' %}
{% elseif requestData['praeDrugs'] == 'yes' %}
    {% set praeDrugsTrue = 'x' %}
{% endif %}
<p>
    <strong>Hatte der Verletzte in den letzten 24 Stunden vor dem Unfall Alkohol, Medikamente oder Rauschmittel zu sich
        genommen?</strong> ({{ praeDrugsTrue }}) Ja / ({{ praeDrugsFalse }}) Nein
</p>


{% set praeDrugsBloodSampleTrue = ' ' %}
{% set praeDrugsBloodSampleFalse = ' ' %}
{% if requestData['praeDrugsBloodSample'] == 'no' %}
    {% set praeDrugsBloodSampleFalse = 'x' %}
{% elseif requestData['praeDrugsBloodSample'] == 'yes' %}
    {% set praeDrugsBloodSampleTrue = 'x' %}
{% endif %}
<p>
    <strong>Wurde Blutprobe entnommen</strong> ({{ praeDrugsBloodSampleTrue }}) Ja / ({{ praeDrugsBloodSampleFalse }})
    Nein
</p>


{% set praeInvalidityTrue = ' ' %}
{% set praeInvalidityFalse = ' ' %}
{% if requestData['praeInvalidity'] == 'no' %}
    {% set praeInvalidityFalse = 'x' %}
{% elseif requestData['praeInvalidity'] == 'yes' %}
    {% set praeInvalidityTrue = 'x' %}
{% endif %}
<p>
    <strong>Führt der Unfall voraussichtlich zu einer Invalidität (dauernden Beeinträchtigung der körperlichen oder
        geistigen Leistungsfähigkeit)?</strong> ({{ praeInvalidityTrue }}) Ja / ({{ praeInvalidityFalse }})
    Nein
</p>

<p><strong>Bitte beschreibe die verletzten Körperteile und Art der
        Verletzung</strong> {{ requestData['praeDamagedBodyParts'] }}</p>

<p><strong> Schadenaufnahme vom:</strong> {{ date }}</p>

<p><strong> Konto f&uuml;r die Erstattung:</strong></p>

<p>Kontoinhaber: {{ user.firstName }} {{ user.lastName }}</p>

<p>IBAN: {{ bankAccount['iban'] }}&nbsp; <br/>
    BIC: {{ bankAccount['bic'] }}&nbsp; <br/>
    Kreditinstitut: {{ bankAccount['bank'] }}<br/>
    <br/>
</p>


<p>
    <strong> Schadenhergang: </strong><br>
    {{ requestData['damageDescription'] }}
</p>
{% set mediaAttachedTrue = ' ' %}
{% set mediaAttachedFalse = ' ' %}
{% if countMedia == 0 %}
    {% set mediaAttachedFalse = 'x' %}
{% else %}
    {% set mediaAttachedTrue = 'x' %}
{% endif %}

<p><strong> Dokumente/Foto angeh&auml;ngt: </strong>
    ({{ mediaAttachedTrue }}) ja / ({{ mediaAttachedFalse }}) nein - {{ countMedia }} Stck.
</p>

<p>&nbsp;</p>

<p>Mit der Bitte um schnellstm&ouml;gliche Bearbeitung des Schadens!</p>
<p style="line-height: 30px;">
<div style="width: auto; height: 120px; overflow: hidden;">
    <img src="{{ pathToResponsible }}" style="width: auto; height: 160px;">
</div>
<br>Rheinzabern, {{ date }} <br>
________________________________________________________<br>
Ort, Datum - Makler<br>
gez. Bjarke M.-O. Pahrmann (der Gesch&auml;ftsf&uuml;hrer)
</p>

</body>
</html>
