{% extends '@MainAdminBundle/_admin.main.html.twig' %}

{% block title %}Admin tariff neu{% endblock %}

  {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/surveyCore.css') }}">
    <style>
    </style>

  {% endblock %}

  {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/surveyCore.js') }}"></script>
    <script>
      handleSpinner = function (elem, preloader, $time) {
        doSpinner = function (elem, preloader) {
          $(preloader).show();
          console.log("handleSpinnerBox e:" + elem + " _ p:" + preloader + " successful");
          $("#survey-spinner").addClass("visible");
          $("#survey-proceed-title").addClass("visible");
          setTimeout(function () {
            $("#survey-proceed-title").removeClass("visible");
            $("#survey-spinner").removeClass("visible");
            $("#survey-proceed-button").addClass("visible");
          }, ($time * 1000));
        }
        doSpinner(elem, preloader);
      }

      saveSurvey = function (json) {
        var url = "/admin/tariff/new/pli/finish";
        console.log("saveSurvey called with url:" + url + " successful");
        console.log("Json: " + json);
        $.ajax({
          type: "PUT",
          contentType: 'application/json',
          url: url,
          dataType: 'json',
          cache: false,
          data: JSON.stringify({
            structure: json
          }),
          error: function (data) {
          },
          success: function (data) {
            if (data.status == 200) {
              console.log("Result: ");
              console.log(data);
            }
          }
        })
      }

    </script>
  {% endblock %}

{% block content %}

  <section id="admin-tariff-edit">
    <div id="page-box">
      <div class="container-fluid">
        <div class="row">
          <div class="well well-sm">
            <div class="row text-center">
              <h2 class="title2 title2--space">
                Beantworte alle Fragen, um den gew&auml;hlten Tarif zu bearbeiten.
              </h2>
              <h4 class="title4 title4--space">
                Bitte schriftlich notieren, wenn Felder erg&auml;nzt werden m&uuml;ssen, mit Seite, Frage, Fehler oder
                Anmerkung. Danke!
              </h4>
            </div>

            <div class="row">
              <div class="col-sm-1 col-md-1 col-lg-1">
                &nbsp;
              </div>
              <div class="col-sm-10 col-md-10 col-lg-10">
                <div class="container-survey">
                  <span id="surveyProgress"></span>

                  <div class="sv_nav">
                    <div class="row">
                      <div class="col-sm-6 text-right">
                        <input type="button" onclick="survey.prevPage();" class="btn" value="zurück">
                      </div>
                      <div class="col-sm-6 text-right">
                        <input type="button" onclick="survey.nextPage();" class="btn" value="weiter">
                      </div>
                    </div>
                  </div>
                  <!--
                  -->
                  <hr/>
                  <div id="surveyElement"></div>
                  <div id="survey-spinner">
                    <div class="outer"></div>
                    <div class="inner"></div>
                  </div>
                  <div id="surveyResult">
                  </div>
                  <div id="surveyFollow" class="text-center">

                    <div id="survey-proceed-title">
                      <h2 class="title2 title2--space">Zurück zur Tarifliste</h2>
                    </div>
                    <a href="{{ path('admin_tariffs') }}" id="survey-proceed-button">
                      Zur&uuml;ck zur Tarif&uuml;bersicht
                    </a>
                  </div>
                  <script>
                    //var structure = $('.structure').data('structure');
                    //Survey.Survey.cssType = "bootstrap";
                    Survey
                            .StylesManager
                            .applyTheme("darkblue");
                    survey = new Survey.Model({{ structure|raw }});
                    survey
                            .onComplete
                            .add(function (survey, options) {
                              //save the data on survey complete. You may call another function to store the final results
                              handleSpinner('#survey-proceed-button', '#survey-proceed-spinner', 3);
                            });
                    survey
                            .onComplete
                            .add(function (result) {
                              document
                                      .querySelector('#surveyResult')
                                      .innerHTML = "Resultat der Formulareingabe in JSON: " + JSON.stringify(result.data) + "</p>";
                              var element = $('#surveyFollow');
                              element.addClass('visible')
                            });
                    survey
                            .onComplete
                            .add(function (result) {
                              console.log(result.data);
                              tmpResult = result.data;
                              saveSurvey(tmpResult);
                            });
                    survey
                            .onUpdateQuestionCssClasses
                            .add(function (survey, options) {
                              var classes = options.cssClasses

                              classes.root = "sq-root";
                              classes.title = "sq-title";
                              classes.item = "sq-item";
                              classes.label = "sq-label";

                              if (options.question.isRequired) {
                                classes.title = "sq-title sq-title-required";
                                classes.root = "sq-root sq-root-required";
                              }

                              if (options.question.getType() === "checkbox") {
                                classes.root = "sq-root sq-root-cb";
                              }
                            });
                    $("#surveyElement").Survey({model: survey});
                  </script>
                </div>
              </div>
              <div class="col-sm-1 col-md-1 col-lg-1">
                &nbsp;
              </div>
            </div>
          </div>
          <div class="row">&nbsp;
          </div>

        </div>
      </div>
    </div>
  </section>

{% endblock %}
