{% extends 'static.admin.html.twig' %}

{% block title %}Admin Gesellschaften{% endblock %}

  {% block stylesheets %}
      {{ parent() }}
      <link rel="stylesheet" href="/build/yourneeds-manager.css"/>
  {% endblock %}

  {% block javascripts %}
      {{ parent() }}
      <script src="/build/yourneeds-manager.js"></script>
  {% endblock %}

{% block content %}

    <section class="content-body" id="admin-user">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-12 text-center pt-2">
                    <h1 class="title1 title1--space">Gesellschaften bearbeiten</h1>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-12 text-center pt-2">
                    <h5 class="title2 title2--space">
                        <i class="fas fa-info-circle"></i> Einige Versicherungsgesellschaften benötigen
                        Persönlichen Daten zur Kalkulation von Angeboten.
                        Wir haben Dir hierfür die Formulare 1. und 2. zur Verfügung gestellt. Nach dem
                        Ausfüllen kannst du über »Check YOURneeds«
                        selber deinen optimalen Tarif ermitteln. Formular 3 wird später interessant.
                        Dein eigener Versicherungsmanager sein.
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!--
                    <a class="btn">
                       <span><i class="fas fa-cog"></i> Einstellungen</span>
                    </a>
                    -->
                    <a href="{{ path('admin_company_new') }}" class="btn">
                        <span><i class="fas fa-plus"></i> Gesellschaft neu anlegen</span>
                    </a>
                </div>
                <br>
            </div>
            <div class="row">
                <!--<div class="fresh-table toolbar-color-green">-->
                <div class="special-table">
                    <!--
                    <div id="toolbar">
                       <div class="form-inline" role="group">
                          <select class="form-control">
                             <option value="">Export Basic</option>
                             <option value="all">Export All</option>
                             <option value="selected">Export Selected</option>
                          </select>
                       </div>
                    </div>
                    -->
                    <table class="table"
                           id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-search-text=""
                           data-show-columns="true"
                           data-show-toggle="true"
                           data-click-to-select="true"
                           data-filter-control="true"
                           data-filter-show-clear="true"
                           data-show-export="true"
                           data-pagination="true"
                           data-icons-prefix="glyphicon"
                           data-show-pagination-switch="true"
                           data-show-refresh="true"
                    >
                        <thead>

                        <tr>
                            <th data-field="operation" data-checkbox="true" data-sortable="true">
                                &nbsp;
                            </th>
                            <th data-field="actions" class="text-center" data-sortable="false"
                                data-switchable="false">
                                [Action]
                            </th>
                            <th data-field="logo" data-filter-control="input" data-sortable="true"
                                data-switchable="true" class="text-center">
                                logo
                            </th>
                            <th data-field="company" data-filter-control="input" data-sortable="true"
                                data-switchable="true">
                                Gesellschaft
                            </th>
                            <th data-field="department" data-filter-control="input" data-sortable="true"
                                data-switchable="false">
                                Kontakt
                            </th>
                            <th data-field="address" data-filter-control="input" data-sortable="true">
                                Adresse
                            </th>
                            <th data-field="active" data-filter-control="" data-sortable="true">
                                Aktiv
                            </th>
                            <th data-field="last_update" data-filter-control="input" data-sortable="true">
                                Aktualisierung
                            </th>
                        </tr>

                        </thead>
                        <tbody>
                        {% for company in companies %}
                            {% set counter = company.0.id %}
                            <tr>
                                <td class="bs-checkbox">
                                    <input data-index="{{ counter }}" name="btSelectItem" type="checkbox">
                                </td>
                                <td class="text-center">
                                    <a href="{{ path('admin_company', {
                                        'id': company.0.id
                                    }) }}" class="btn">
                                        <span><i class="fas fa-pencil-alt"></i></span>
                                    </a>
                                </td>
                                <td>
                                    <div class="pic-list small">
                                        <img src="{{ asset("uploads/logos/") }}{{ company.0.logo }}"
                                             class="img-thumbnail"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="pic-list">
                                        {{ company.0.name }}<br>
                                        Mail Allg: {{ company.0.emailGeneral }}<br>
                                        Mail Trans: {{ company.0.emailTransfer }}<br>
                                        Mail Schad: {{ company.0.emailDamageReport }}<br>
                                    </div>
                                </td>
                                <td>
                                    {{ company.0.department }}<br>
                                    {{ company.0.contactPerson }}
                                </td>
                                <td>
                                    {% if company.1 is not null and company.1.street is not null %}
                                        {{ company.1.street }} {{ company.1.streetNumber }}<br>
                                        {{ company.1.postalCode }}
                                        {% if company.1.city is not null and company.1.city.name is not null and company.1.city %}
                                            {{ company.1.city.name }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="status text-center">
                                    {% if company.0.isActive == true %}
                                        <span class="label label-success"><i class="fas fa-check"></i></span>
                                    {% elseif company.0.isActive == false %}
                                        <span class="label label-danger"><i class="fas fa-times"></i></span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ company.0.updatedAt|date("d.m.Y") }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}