{% extends 'static.html.twig' %}

{% block title %}YOURneeds user profil{% endblock %}

  {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="/build/yourneeds-manager.css"/>
  {% endblock %}

  {% block javascripts %}
     {{ parent() }}
  {% endblock %}

{% block content %}

   <div class="col-menu col-menu--small">
       {% include '@MainUserBundle/Manager/profile/includes/manager.internal.nav.html.twig' %}
   </div>
   <section class="content-body" id="admin-user">
      <div class="container">
        <div class="row justify-content-start">
           <div class="col-12 text-center pt-2">
              <h1 class="title1 title1--space"><h1>Fehler {{ statusCode }}</h1>
           </div>
        </div>
        <div class="row justify-content-start">
           <div class="col-12 text-center pt-2">
              <h5 class="title2 title2--space">
                 <i class="fas fa-info-circle"></i>&nbsp;
                 Oops {% if user.firstName %}, {{ user.firstName }}!{% endif %}
                 {% if message %}{{ message }}<br> {% endif %} <br>
              </h5>
           </div>
        </div>
     </div>
   </section>
{% endblock %}