{% extends 'static.html.twig' %}

{% block title %}YOURneeds login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% include 'includes/header.html.twig' %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 offset-sm-4">
                    <h1 class="title1 title1--space text-center">
                        Passwort vergessen?
                    </h1>

                    {% if error %}
                        <div>
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <form action="{{ path('security_login') }}" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="login_form__username" id="login_form__username_Label">Mobilnummer / E-Mail</label>
                            <input class="form-control"
                                   type="text"
                                   value="{{ _username }}"
                                   id="login_form__username"
                                   name="login_form[_username]"
                                   required="required"
                                   autofocus>
                        </div>
                        <input type="hidden"
                               name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                                >
                        <input type="hidden"
                               name="_target_path"
                               value="{{ path('homepage') }}">
                        <button type="submit" 
                               class="btn btn-lg btn-block mt-3">Passwort zurücksetzen</button>

                        <p class="mt-3 font-small">Wir senden Ihnen eine E-Mail mit den Details zum Zurücksetzen. Bitte folgen Sie dem darin enthaltenen Link um Ihr Passwort zurückzusetzen.</p>
                    </form>
                    <p class="mt-5 text-center">
                        <a href="{{ path('security_login') }}" class="font-small">Doch wieder eingefallen? Dann hier einloggen</a>
                    </p>

                </div>
            </div>
        </div>
    </section>

    {% include 'includes/home-menu-footer.html.twig' %}

{% endblock %}